
<!DOCTYPE html>
<html >
<head>
    <title>Book</title>
</head>
<body>
    <h1><>%= book.title %</h1>
    <p><%= book.author %></p>
    <a href="/update/<%= books[i].id %>">Edit</a>
    <a href="/delete/<%= books[i].id %>">Delete</a>
</body>
</html>
